.sidenav,
header {
    position: fixed;
    background-color: #000;
}

header {
    border-bottom: 1px solid #262626;
}

.big-menu {
    background-color: #000;
}

footer {
    background-color: #0f0c0f;
}

.moreGraphics {
    background-color: #1b1518;
}

.moreGraphics h2 {
    font-size: 1.5em;
}

.moreGraphics ul li a:hover {
    border: 1px solid #548c94;
}

section.intro .cover {
    height: 70vw;
}

section.intro p .autor {
    color: #fff;
}

.fullContent.social a:hover {
    border: 1px solid #548c94;
}

a,
a:active,
a:visited {
    color: #c6c6c6;
}

.moreLinks a {
    color: #f0f0f0;
}

.moreLinks a {
    text-decoration-color: #353434;
}

audio {
    background-color: #000;
}

p {
    color: #ede4e4;
}

h2, h3 {
    color: #fff;
}

h4 {
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}

section.intro p {
    color: #f0f0f0;
}

.article .related .wrapper a .headline {
    color: #fff;
}

.clear {
    height: 100px;
}

.small-clear {
    padding-top: 40px;
}

.mid-clear {
    padding-top: 60px;
}

.fullContent p {
    max-width: 425px;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    margin: 25px auto;
    text-align: left;
}

.fullContent .wrapper {
    position: relative;
}

.fullContent .varGraphic {
    width: 100%;
    max-width: 800px;
}

.fullContent .max425 {
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
}

.fullContent .audio {
    padding-top: 50px;
    color: #fff;
    font-style: italic;
    font-size: 21px;
}

.fullContent .audio h4 {
    color: #fff;
}

.fullContent .graphic {
    max-width: 800px;
    width: 100%;
}

.fullContent .source {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    float: none;
    color: gray;
    width: 100%;
    margin-bottom: 50px;
}

.fullContent .source-location {
    text-align: center;
    font-style: italic;
    font-size: 12px;
    float: none;
    color: gray;
    width: 100%;
    margin-top: -30px;
    text-transform: uppercase;
}

video {
    max-width: 1100px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
    margin: 0 auto;
}

.small-diagram {
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
}

.diagram {
    max-width: 600px;
    width: 100%;
}

.device-desktop {
    display: block;
}

.device-over {
    display: none;
}

.video-overlay {
    position: absolute;
    max-width: 1100px;
    width: 100%;
    z-index: 999999;
    margin: 60px auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 900px) {
    .device-over {
        display: block;
        max-width: 900px;
        width: 100%;
        padding-top: 19px;
        padding-bottom: 60px;
        display: block;
        margin: 0 auto;
    }
    .desktop-over {
        display: none;
    }
}

.video-diagram {
    max-width: 425px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 50px;
}

.center {
    text-align: center !important;
    margin: 0 auto;
}

.lighter {
    padding-top: 40px;
    border-bottom: 1px solid #222222;
}

.darker {
    background-color: #0f0c0f;
    padding-top: 60px;
    padding-bottom: 50px;
}

.darker p {
    color: #d3d3d3;
}

.darker strong {
    color: #fff;
    font-size: 16px;
}

.darker h2 {
    text-align: left;
    max-width: 425px;
    margin: 0 auto;
    color: #fff;
}

section.intro h1 {
    color: #fff;
    max-width: 850px;
    margin-top: -120px;
}

.note {
    text-align: center;
    font-size: 13px !important;
    font-weight: 100;
    margin-top: 20px;
    color: #c6c6c6;
}

.topic_bar {
    display: block;
    width: 80px;
    height: 2px;
    background-color: rgba(84, 140, 148, 0.5);
    margin: 20px auto;
}

#animation img {
  display: none;
    width: 100%;
    height: auto;;
}
#animation img:first-child {
  display: block;
}

/* COVER */

#cover{
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: -1;
}
#cover .layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
#cover .back{background-image: url(img/layers_back.png);}
#cover .over{background-image: url(img/layers_top.png);}
#cover ul{
    position: absolute;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    
    bottom: 270px;
    left: -200px;
    -webkit-transform: rotate(-17deg);
    -moz-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    -o-transform: rotate(-17deg);
    transform: rotate(-17deg);
}
#cover ul li{
    height: 300px;
    width: 1100px;
    position: absolute;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 0;
}
#cover ul li.lg{opacity: 0;}

#cover ul .st0{left: 0px;background-image: url(img/section_0_lg.png);}
#cover ul .st1{left: 1100px;background-image: url(img/section_1_lg.png);}
#cover ul .st2{left: -1100px;background-image: url(img/section_2_lg.png);}

/* CHOOSE POSTURE */

.choose-posture {
    height: 413px;
    margin-top: 60px;
}

ul.choose {
    list-style: none;
}

ul.choose li:hover {
    opacity: 1;
}

ul.choose li {
    background: none;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    max-width: 295px;
    transition: all ease .5s;
    opacity: 0.7;
}

ul.choose li.current {
    opacity: 1;
}

ul.choose li span {
    background-color: #548c94;
    padding: 6px 11px;
    border-radius: 20px;
    color: #000;
    font-weight: 700;
}

.tab-content {
    opacity: 0;
    font-size: 16px;
    line-height: 1.5;
    pointer-events: none;
    width: 295px;
    transition: all ease 1s;
    display: inline-block;
    color: #fff;
    position: relative;
    top: -455px;
    font-weight: 100;
    cursor: pointer;
}

.tab-content span {
    font-size: 30px;
    display: block;
    font-weight: 800;
    color: #548c94;
}

.tab-content.current {
    opacity: 1;
    transition: all ease 1s;
}

.question-device {
    display: none;
    max-width: 425px;
    margin: 0 auto;
}

.question-tablet {
    display: none;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.question-desktop {
    display: block;
}


/* STATS */

ul.stats {
    list-style-type: circle;
    color: #fff;
    margin-left: 25px;
    font-weight: 100;
    line-height: 24px;
}


/* ADVICE */

.advice {
    padding: 50px 0px;
    border-radius: 5px;
    color: #fff;
    margin-top: 50px;
    font-style: italic;
}


/* AUDIO */

.audio {
    margin: 0 auto;
}

.play,
.pause {
    width: 180px;
    height: 120px;
    display: inline-block;
    cursor: pointer;
}

.play {
    background: transparent url('../img/play-audio.png') no-repeat;
    background-size: cover;
}

.pause {
    background: transparent url('../img/stop-audio.gif') no-repeat;
    background-size: cover;
    display: none;
}


/* PROBLEMS */

.problems {
    width: 100%;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.problems .column {
    display: inline-block;
    color: #fff;
    width: 100%;
    max-width: 250px;
    margin: 20px;
    padding: 0px;
    vertical-align: top;
}


/* PRESSURE */

.pressure {
    max-width: 500px;
    width: 100%;
    position: relative;
    margin: 40px auto;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.pressureImages {
    height: 700px;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;  
}

.pressureImages.Zoom {
    position: relative;
    overflow: hidden;
}

.pressureImages img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img.Show {
    opacity: 1;
    z-index: 2;
}

.NoSupport {
    text-align: center;
    padding: 1rem;
}


/* VIDEO FRAMES */

#over01,
#over02,
#over03,
#over04,
#over05 {
    opacity: 0;
    transition: all ease 0.8s;
}

/* SCROLL CONTROL */

#trigger .layers{
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    z-index: 0;
    top: -80px;
}

#trigger .layers .globe{
    position: absolute;
    top: 0;
    left: 0;
}

#trigger .layers .globe:not(.g0), #trigger .keys li:not(.g0){opacity: 0;}
#trigger .layers .globe.g0{width: 100%; max-width: 800px;}
#trigger .layers .globe.g1{width: 100%; max-width: 800px;}
#trigger .layers .globe.g2{width: 100%; max-width: 800px;}
#trigger .layers .globe.g3{width: 100%; max-width: 800px;}
#trigger .layers .globe.g4{width: 100%; max-width: 800px;}
#trigger .layers .globe.g5{width: 100%; max-width: 800px;}


/* NO DRAG */


/* STAFF LINKS */

.stickyLinks {
    background-color: #0f0c0f;
    border-top: 1px solid #1a1a1a;
}

.stickyLinks .SCMP_links a .work p {
    color: gray;
}

.moreGraphics .SCMP_links a .work p span {
    color: rgba(128, 128, 128, 0.3);
}

.moreGraphics .SCMP_links a .work p {
    color: grey;
}

.moreGraphics .wrapper p a.anchorHome {
    color: #fff;
}
